@using NelitaBeautyStudio.Models
@model IEnumerable<News>

@if (Model.Count() == 0)
{
    <h3>Няма скорошни новини</h3>
}
else
{
    <div class="row">
        @{
            var firstThree = Model.Take(3);
            var secondThree = Model.Skip(3);
            
            const int contentMaxLength = 50;
        }
        @foreach (var news in firstThree)
	    {
            <div class="col-md-4">
                <h2>
                    @Html.ActionLink(news.Title, "Details", "News", new { id = news.Id }, null)
                </h2>
                @{
                    var content = news.Content.Length > contentMaxLength ? (news.Content as string).Substring(0, contentMaxLength) + "..." : news.Content;
                }

                <p>@content</p>
            </div>
	    }
    </div>
    <div class="row">
        @foreach (var news in secondThree)
        {
            <div class="col-md-4">
                <h2>
                    @Html.ActionLink(news.Title, "Details", "News", new { id = news.Id }, null)
                </h2>
                @{
                    var content = news.Content.Length > contentMaxLength ? (news.Content as string).Substring(0, contentMaxLength) + "..." : news.Content;
                }

                <p>@content</p>
            </div>
        }
    </div>
}